
.encabezado{
 font-size: 72px;
 color: blue;

text-transform: capitalize ;
}
body{
    background-color: coral;

}
p{
    font-size: 50px;
 color: white;
}
.texto {
    color: yellowgreen;
    background-color: whitesmoke;
}
#uno{
    font-size: 50px;
    color: violet;
    font-style: oblique;
}