body{
    background-color:green;

}
#uno{
    font-size: 60px;
    color: black;
}
#dos{
    font-size: 30px;
    color: white;
}
.tres{
    font-size: 30px;
    color: pink;
}
.cuatro{
    font-size: 30px;
    color: orange;
}
#rojo{
    font-size: 30px;
    color: red;
}