body{
    background-color:aqua;

}
.uno{
    font-size: 70px;
    color: black;
}
.dos{
    font-size: 30px;
    color: red;
}
.tres{
    font-size: 30px;
    color: black;
}
.cuatro{
    font-size: 30px;
    color: orange;
}
#rojo{
    font-size: 30px;
    color: red;
}
